.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: green;
  color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-weight: 100;
  font-family: sans-serif;
}
